.HomeView {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  > .urls {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    > textarea {
      flex-grow: 1;
    }
  }

  > .controls {
    margin-bottom: 0.5rem;
  }
}

// .toaster {
//   width: 100%;
//   > .toast {
//     min-width: 100%;
//     max-width: 100%;
//   }
// }
